.footerContainer {
    height: auto;
    background-color: #004F83;
    text-align: center;
    color: #ffffff;
    padding: 2.5rem 0;
}

.headingText {
    padding-bottom: 1rem;
}

.linkList {
    li {
        text-align: left;
    }
}

.copyrightContainer {
    padding-top: 3vh;
}