.footerContainer {
    height: auto;
    background-color: #004F83;
    text-align: center;
    color: #ffffff;
    padding: 2.5rem 2rem;
}

.headingText {
    padding-bottom: 1rem;
    text-align: center;
}