.heroContainer {
  padding: 25vh 10vw;
  background-image: url('../public/images/science1.png');
  background-blend-mode: darken;

  @media (max-width: 640px) {
    padding: 2vh 5vw;
  }
}

.textContainer {
  color: #ffffff;
  text-align: left;
  width: 50%;
  text-shadow: 3px 4px 3px #333333;

  @media (max-width: 640px) {
    text-align: center;
    width: 100%;
    padding-top: 15vh;
  }
}

.heading1, .heading2 {
  cursor: default;
}

.heading1 {
  @media (max-width: 640px) {
    font-size: 50px;
    line-height: 55px;
    padding-bottom: 2vh;
  }
}

.heading2 {
  padding: 1rem 0;
}

.button {
  margin-top: 1.5rem;
}

