.heroContainer {
  background-blend-mode: darken;
  background-size: cover;
  z-index: 10;
  position: relative;
  padding: 18vh 3vw 4vh;
  
  @media (max-width: 1200px) {
    padding: 25vh 3vw 4vh;
  }

  @media (max-width: 1020px) {
    padding: 20vh 3vw 4vh;
  }

  @media (max-width: 640px) {
    padding: 2vh 5vw;
  }
}

.subheroContainer {
  @extend .heroContainer;
}

.homeBackground {
  background-image: url("../public/images/hero-background.jpg");
}

.expertsBackground {
  background-image: url("../public/images/hero-background.jpg");
}

.textContainer {
  color: #ffffff;
  text-align: left;
  width: 100%;
  text-shadow: 3px 4px 3px #333333;

  @media (max-width: 640px) {
    text-align: center;
    padding-top: 15vh;
  }
}

.heading1,
.heading2 {
  cursor: default;
}

.heading1 {
  font-size: 50px;
  line-height: 55px;

  @media (max-width: 640px) {
    line-height: 55px;
    padding-bottom: 2vh;
  }
}

.heading2 {
  padding: 1rem 0;
}

.button {
  margin-top: 1.5rem;
}
