.heroContainer {
  background-blend-mode: darken;
  background-size: cover;
  z-index: 10;
  position: relative;
  padding: 11em 4em 2rem 1rem;

  @media (max-width: 920px) {
    padding: 10em 4em 2em 1em;
  }

  @media (max-width: 640px) {
    padding: 4em 1em 0rem 1rem;
  }
}

.subheroContainer {
  @extend .heroContainer;
}

.homeBackground {
  background-image: url("../public/images/hero-background.jpg");
}

.expertsBackground {
  background-image: url("../public/images/hero-background.jpg");
}

.textContainer {
  color: #333333;
  text-align: left;
  width: 100%;

  @media (max-width: 640px) {
    text-align: center;
    padding-top: 10vh;
  }
}

.heading1,
.heading2 {
  cursor: default;
}

.heading1 {
  font-size: 50px;
  line-height: 55px;

  @media (max-width: 640px) {
    line-height: 55px;
    padding-bottom: 2vh;
  }
}

.heading2 {
  padding: 1rem 0;
}

.button {
  margin-top: 1.5rem;
}
