.bannerContainer {
    width: 100%;
    background-color: white;
    padding-top: 2rem;
}

.heading {
    padding-top: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.circleIcon {
    background-color: #a3e8ffcf;
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
    margin: 0 auto;
    opacity: .5;
}

.circleContent {
    text-align: center;
    padding-top: 1.5rem;
}

.icon {
    fill: #646464;
    opacity: 1;
    font-size: 3.5rem;
}

.circleText {
    text-align: center;
    padding-top: 1rem;
}