.bannerContainer {
    width: 100%;
    background-color: #b1dcff;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.heading {
    padding-top: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.circleIcon {
    background-color: #004F83;
    height: 11vh;
    width: 10vw;
    border-radius: 50%;
    margin: 0 auto;
    opacity: .5;
    padding-top: 2rem;
}

.circleContent {
    text-align: center;
}

.icon {
    fill: #ffffff;
    opacity: 1;
    font-size: 2.5rem;
}

.circleText {
    text-align: center;
    padding-top: 1rem;
    width: 50%;
    margin: 0 auto;
}