.subheadlineContainer {
    height: 100%;
}

.textContainer {
    padding: 7rem 2rem;
    height: 100%;
}

.headingText {
    padding-bottom: 1.5rem;
}

.headingText, .subheadingText {
    width: 75%; 

    @media (max-width: 940px) {
        width: 100%;
    }
}