.mainGrid {
    margin-left: 0;
}

.subheadlineImage {
    background-image: url('../public/images/bar-chart-increase.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;

    @media (min-width: 940px) {
        background-image: url('../public/images/bar-chart-increase.webp');
    }

    @media (max-width: 640px) {
        display: none;
    }
}

.textContainer {
    padding: 4rem 1rem;
}

.headingText {
    padding-bottom: 1.5rem;
}

.headingText, .subheadingText {
    @media (min-width: 940px) {
        width: 75%;
    }
}

.subheadlineButton {
    margin-top: 2rem;
}