.subheadlineContainer {
    background: lightblue;
    padding: 5rem 0;
}

.subheadlineImage {
    border-radius: 10px;
}

.textContainer {
    padding: 2rem 2rem;
}

.headingText {
    padding-bottom: 1.5rem;
}

.subheadlineButton {
    margin-top: 1rem;
}