.threeCardBlockContainer {
  height: auto;
  padding: 10vh 20vw;
  background-color: lighten($color: #0c71c3, $amount: 50)
}

.blockContainer {
  margin: 10vh 0;
}

.paperContainer {
  padding: 7vh 3vw;
}